.case-study-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
    .case-study-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1240px;
      height: 347px;
      padding: 0 60px;
      border-radius: 45px;
      background-color: #191A23;
        .case{
          width: 286px;
          height: 163px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
            .case-text{
              color: #FFFFFF;
              font-size: 18px;
              font-weight: 400;
            }
            .case-link{
              color: #B9FF66;
              font-size: 20px;
              display: flex;
              align-items: center;
            }
        }
        hr{
          width: 1px;
          height: 163px;
          background-color: #FFFFFF;
        }
    }
}